<header class="flex justify-between px-5 py-1 border-b-[1px] border-gray-300">
  <!-- TODO:Add icons -->
  <div class="flex gap-6 justify-center items-center">
    <!-- logoIcon -->

    <div
      class="flex justify-center items-center gap-4 border-x-[1px] h-8 border-[#979797] pl-2 pr-2"
    >
      <h2 class="font-normal">Board</h2>
    </div>

    <form class="">
      <label
        for="default-search"
        class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
        >Search</label
      >
      <div class="relative">
        <div
          class="absolute inset-y-0 end-0 flex items-center pe-5 pointer-events-none"
        >
          <!-- searchIcon -->
        </div>

        <input
          type="search"
          id="default-search"
          class="block w-lg h-8 p-2 pe-10 text-sm text-gray-900 border border-gray-300 rounded-lg"
          placeholder="Search Boards"
        />
      </div>
    </form>
  </div>

  <div class="flex gap-6 justify-center items-center">
    <!--notificationIcon, iconAddBoard, profilePicture -->
  </div>
</header>
